body
	
section#header
		a#login 登陆
		a#regis 注册
section#hidden
		div= user
section#navigationbar
		ul#nabigationlist
		- each article in articles
			li.navigationitem
				a(href='##{article._id}')= article.title
	section#content
		h1= title
		p.desc= description
		p.usage 本文档系统的源码可以在github获得
		a#addarticlebutton(href='/article/add') 撰写新文档
		a.add_art  添加新文档


	a(href='https://github.com/conan007ai/teambition-doc-system')
		img(alt='Fork me on GitHub',src='https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67',style='position: absolute; top: 0; right: 0; border: 0;')
		
	script#article-template(type="text/template")
				article.docs
						a.icons_close(href='/article/del?title=<%= Article.title>')
						a.icons_email(href='mailto:?subject=<%=Article.title%>&body=<%=Article.content%>')
						h2.art_tittle	<%= Article.title%>
						p.art_category	<%= Article.category%>
						div.art_content	<%= Article.content%>
	
