
	
div#body_go(class="icons_left")
		
section#mainLeft(class="main")

		div#main-left-header

		div#main-left-body
			ul
				
		
section#mainMiddle
		
section#mainRight


	
script(data-main='/javascripts/main.js', src='/javascripts/libs/require/require.js')
		
	
	
