
	
div#body_go(class="icons_left")
		
section#mainLeft(class="main")

		div#main-left-header

		div#main-left-body
			ul
				
		
section#mainMiddle
	div#wmd-button-bar(class="hidden")
	textarea#wmd-input(class="hidden")
	div#wmd-preview(class="hidden")
	ul#atls
section#mainRight


	
script(data-main='/javascripts/main.js', src='/javascripts/libs/require/require.js')
		
	
	
