!!!5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/lees.css')
		
		script(data-main='/javascripts/main.js', src='/javascripts/libs/require/require.js')
		
		
		
	body!= body