.h10 { height: 10px }
.h20{height:20px;}
.pad5{ padding:5px;}
.float_l { float: left }
.float_r { float: right }
.submit_btn {
	padding: 5px 14px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 13px;
	margin: 15px 10px;
	cursor:pointer;
}
.shade_dialog_input {
    width: 150px; 
	color: #333;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
}
h3 { font-size: 22px; margin: 0; padding:10px 0;color: #02b6d6; font-weight: normal; }
.pad30{padding:0 30px;}
#header{
	background-color: #464646;
    background-image: -moz-linear-gradient(center bottom , #373737, #464646 5px);
    color: #CCCCCC;
    direction: ltr;
    font: 14px/28px sans-serif;
    height: 28px;
    left: 0;
    min-width: 600px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#header_div{
	border-left:1px solid transparent;
}
#header *{
	color: #CCCCCC;
    font: 13px/28px sans-serif;
    height: auto;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    position: static;
    text-shadow: 0 -1px 0 #444444;
    text-transform: none;
    width: auto;
}
#header ul{
	padding:0;
	width:auto;
	height:100%;
	margin:0;
}
#header ul li{
	background: none repeat scroll 0 50% transparent;
    clear: none;
    list-style: none outside none;
    margin: 0;
    padding: 0 ;
    position: relative;
    z-index: 999;
    //border-right:1px solid #555;
    float:left;
    border-left:1px solid #555;
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.6);
    box-shadow: 0 0 2px rgba(0,0,0,0.6);
}
#header li.first{
	border-left:none;
}
#header ul li:before, #header ul li:after {
    content: normal;
}
#header a{
    padding:6px 8px;cursor:pointer;
}
#header a:hover{
	background:#333;
}
#hidden{display: none}
.art_title{cursor:pointer;color:#02b6d6;}
.art_author{color: #999;}
.art_content{position: relative;}
.article_tools{position:absolute;height: 18px;top:4px;right:4px;}
.article_tools a{cursor: pointer;}
a.icons_close{width:16px;height:16px;position:relative;float:right; background:url(../images/icons_black.png) -32px -192px;}
a.icons_email{width:16px;height:16px;position:relative;float:right; background:url(../images/icons_black.png) -80px -96px;}
a.icons_edit {width:16px;height:16px;position:relative;float:right; background:url(../images/icons_black.png) -64px -112px;}
a.icons_delete{width:16px;height:16px;position:relative;float:right; background:url(../images/icons_black.png) -176px -96px;}