<article class="doc">
	<div class="article_tools">
		<a class="icons_close"></a>
		<a class="icons_email"></a>
	</div>
	<h2 class="art_title">{{=it.title}}</h2>
	<p class="art_author">author:{{=it.author}}&nbsp;&nbsp;创建时间:{{=it.create_at}}</p>
	<ul id="art_{{=it.title}}" class="capterList">
		<li class="art_content">
			<h4>
				<a id="{{=it.capter}}">{{=it.capter}}</a>
			</h4>
			<div class="article_tools">{{ if(it.author==it.user){ }}
				<a class="icons_delete"></a>
				<a class="icons_edit"></a>{{ } }}
			</div>{{=it.content}}
		</li>
	</ul>
</article>
