<div class="commonbg">
	<h1>{{=it.header}}</h1>
	<section id="editor">
		<label>文章标题:</label>
		<input type="text" name="title" />
		<div class="clear"></div>
		<input type="hidden" name="author" value="{{=it.author}}" />
		<input type="hidden" name="doc_id" value="{{=it.doc_id}}" />
		<input type="hidden" name="id" value="{{=it.id}}" />
		<div id="button-bar"></div>
		<div id="textarea"></div>
		<div id="preview"></div>
		<div class="clear"></div>
		<button id="submit"><span>提交</span></button>
	</section>
</div>