
		<form action="/article/edit" method="post" name="edit" style="visibility:hidden" >
			<input type="text" name="title" value="{{=it.title}}" />
			<input type="text" name="category" value="{{=it.category||it.title}}" />
			<input type="hidden" name="id" value="{{=it._id}}" />
			<input type="text" name="capter" value="{{=it.capter}}" />
			<input type="text" name="index" value="{{=it.index}}" />
			<textarea name="simple_content">{{=it.simple_content}}</textarea>
			<button type="submit"></button>
		</form>
	
